<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <title>{{ title }}</title>
  <meta name="description" content="{{ desc }}">
  <meta name="Author" content="{{ metaAuthor }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  {{> site-header}}

  {{{ body }}}

  {{> site-footer}}

  <script src='js/main.js'></script>
</body>
</html>
