body,
h1, h2, h3, h4,
p, blockquote, pre,
dl, dd, ol, ul,
fieldset, legend, input, button, optgroup, select, textarea,
figure,
hr {
  margin: 0;
  padding: 0; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit; }

html {
  font-size: 100%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  color: #4b6571;
  background: #ebebea; }

.c-btn {
  display: inline-block;
  height: 2.5em;
  padding: 0 0.625em;
  vertical-align: middle;
  font: inherit;
  line-height: 2.5em;
  text-align: center;
  border: none; }
  .c-btn-small {
    font-size: 0.875em;
    line-height: NaN; }
  .c-btn-large {
    font-size: 1.125em;
    line-height: 24.0000; }
  .c-btn button[disabled],
  .c-btn .c-btn-disabled {
    opacity: 0.4;
    cursor: default; }
    .c-btn button[disabled]:hover,
    .c-btn .c-btn-disabled:hover,
    .c-btn button[disabled]:focus,
    .c-btn .c-btn-disabled:focus {
      opacity: 0.4; }

.fontsize {
  font-size: 1.25rem;
  line-height: 1.2000; }
  .fontsize:hover, .fontsize:focus {
    font-size: 2.5rem;
    line-height: 1.2000; }
